<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">

      <div class="row mb-3">
        <div class="col-lg-12 text-start">
          <h3 style="color: #2c3e50; font-weight: bold;">Logs de Auditoria</h3>
        </div>
      </div>

      <table class="table table-striped table-bordered">
        <thead style="background-color: #2c3e50; color: white;">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">E-mail Usuário</th>
            <th scope="col">Tabela</th>
            <th scope="col">Coluna</th>
            <th scope="col">Valor Antigo</th>
            <th scope="col">Valor Novo</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          @for (log of lista; track $index) {
            <tr>
              <td>{{ log.idLog }}</td>
              <td>{{ log.dsEmailUsuario }}</td>
              <td>{{ log.dsTabela }}</td>
              <td>{{ log.dsColuna }}</td>
              <td>{{ log.vlAntigo }}</td>
              <td>{{ log.vlNovo }}</td>
              <td>{{ log.dtAlteracao | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            </tr>
          }
        </tbody>
      </table>

    </div>
  </div>
</div>

<ng-template #modalDetalhe>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Detalhes do Log</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <app-log-details [obj]="logEdit" (retorno)="retornoDetalhe($event)"></app-log-details>
  </div>
</ng-template>
